.warn-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color:#F44336;
    z-index: 999;
    color: white;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
}